{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Analytics Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{% url 'signup' %}" class="nav-logo">RepoPerformanceEval</a>
        </div>
        <div class="navbar-right">
            <a href="{% url 'signup' %}">Home</a>
            <a href="#">Reports</a>
            <a href="#">Settings</a>
            <button type="Log In" href="registration\login.html">Log In</button>
            <button type="Log Out">Log Out</button>
            <button type="Sign Up" href="registration\signup.html">Sign Up</button>
        </div>
    </nav>

    <main>
        {% block content %}
        <!-- Each page injects content here -->
        {% endblock %}
    </main>
</body>
</html>